# Personnal notes
*.txt
Docs/notes.txt

# Downloaded data
Data/*

# Temporary Nextflow files
Nextflow/Temp
Nextflow/work
Nextflow/.*

## New ignores
# ignore temp nextflow files
/**/.nextflow*
# ignore data files
/**/*.fa
/**/*.gtf
/**/work
genomeDir
