#!/usr/bin/env nextflow

process {
    withName:Download {
        container = 'staphb/sratoolkit' 
    }
    withName:IndexCreation {
        container = 'evolbioinfo/star:v2.7.6a' 
    }
     
}

docker {
    enabled = true
    //sudo = true
    //temp = '$PWD' 
    //runOptions = '-d' 
    
    
}
