docker.enabled = true

process {
    shell = ['/bin/sh']
    executor='local'
    withName: Fasterq {
        cpus=1
        container='staphb/sratoolkit:latest'
        echo=true
    }
    withName: Genome {
        cpus=1
        echo=true
    }
    withName: Index {
        cpus=14
        container='evolbioinfo/star:v2.7.6a'
        echo=true
    }
}

params {
    index_cpus = 14
}