docker.enabled = true

process {
    shell = ['/bin/sh']
    executor='local'
    withName: Fasterq {
        cpus=1
        container='staphb/sratoolkit:latest'
        echo=true
    }
    withName: Genome {
        cpus=1
        echo=true
    }
    withName: Index {
        cpus=4
        echo=true
    }
}