docker.enabled = true

params {

    // parameters to be passed to scripts 
    index_cpus = 14
    mapping_cpus = 14
    counting_cpus = 7
    mapping_memory = '50GB'

    // optional command-line arguments 
    reads = null
    genome = null
    index = null
    mapping = null
    counting = null

    // default values for automatic (default)
    // execution of the pipeline
    genome_url = "http://labshare.cshl.edu/shares/gingeraslab/www-data/dobin/STAR/STARgenomes/Human/GRCh38_Ensembl99_sparseD3_sjdbOverhang99/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    annotation_url = "http://labshare.cshl.edu/shares/gingeraslab/www-data/dobin/STAR/STARgenomes/Human/GRCh38_Ensembl99_sparseD3_sjdbOverhang99/Homo_sapiens.GRCh38.99.gtf"

    // full pipeline execution ids 
    ids = ['SRR628582', 'SRR628583', 'SRR628584', 'SRR628585', 'SRR628586', 'SRR628587', 'SRR628588', 'SRR628589']
    
    // STAR parameters
    sjdbOverhang = 99

    // Locations (we should probably remove this)
    // temporarily we leave this section.
    genomeDir = "Index"

}

process {
    shell = ['/bin/sh']
    executor='local'
    withName: Fasterq {
        cpus=4
        container='staphb/sratoolkit:latest'
        echo=false
    }
    withName: Genome {
        cpus=1
        echo=false
    }
    withName: Index {
        container='evolbioinfo/star:v2.7.6a'
        echo=false
    }
    withName: Mapping {
        echo=false
        container='evolbioinfo/star:v2.7.6a'
    }
    withName: Counting {
        echo=false
        container='evolbioinfo/subread:v2.0.1'
    }
    withName: DESeq {
        echo=true
    }
}
